_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle

# ignore some local dirs
bin/**
vendor/**
Gemfile.lcok
.bundle/**

# prject specific

script/**
_data/bundle
_data/bundle
.idea/misc.xml
.idea/modules.xml
.idea/rimebrew.github.io.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/.gitignore
